@import url('https://fonts.googleapis.com/css?family=Pacifico|Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gugi&display=swap');
/* Home */
#main-title {
	font-family: 'Pacifico', 'Gugi', cursive;
}
.home .hero .description {
	color: #8996AD !important;
}
.home .features h2 {
	color: #16233A !important;
}
.home .features p {
	color: #1A2943 !important;
}

/* sidebar */
.sidebar-heading {
    color: #AAAFB7 !important;
}
.sidebar-heading.open, 
.sidebar-heading:hover {
    color: inherit !important;
}

/* main articles */
.page h1 {
	font-family: 'Pacifico', 'Gugi', cursive;
	font-size: 56px;
	padding-bottom: 3%;
  border-bottom: 12px solid #f8ba05;
  border-bottom-right-radius: 15%;
}
.octicon .octicon-link {
	color: #283f69 !important;
}
a.header-anchor {
	margin-left: -20px !important;
	padding-right: 0 !important;
}